<br />

<div class="booyah-box col-10 offset-1 text-center">
  <h1>About</h1>

  <p>
     We are here to encourage communication and fellowship between fellow carnivorous plant enthusiasts. Promote the growth of carnivorous plants to any and all who will listen. As well as encourage the conservation of the local native species through cultivation.
  </p>
</div>
