<br />

<div class="booyah-box col-10 offset-1 text-center">
  <h1>Frequently Asked Questions</h1>

  <ul class="list-unstyled font-weight-bold">
    Is it to hot in the south to grow carnivorous plants outdoors?
    <li class="font-weight-normal">
      Texas has many native carnivorous plant species and most of your cp's will thrive outdoors so long as you keep them moist.
    </li>
  </ul>
  <ul class="list-unstyled font-weight-bold">
    Should I keep my plants in the shade to protect them from the sun?
    <li class="font-weight-normal">
      That would depend on the species. Most full grown Sarracenia do just fine in full sun. However, you may want to give some partial shade to your younger species until they are fully hardened to the Texas heat. The same goes for your venus flytraps and sundews.
    </li>
  </ul>
  <ul class="list-unstyled font-weight-bold">
    I found some wild pitcher plants should I dig them up to try and assure their survival?
    <li class="font-weight-normal">
      Never dig up wild carnivorous plants unless you have permission from your local conservation office. We encourage saving species through propagation. So wait until the plant goes to seed and then collect the seed and sprout those. It may take longer but you won't damage their natural environment which causes more harm than good.
    </li>
  </ul>
</div>
