<div>
  <br />
  <div class="col-10 offset-1 text-center image_1">
    <div class="box">
      <br />
      <h1 class="letters">Welcome to Texas Carnivores</h1>
      <br />
      <h2 class="letters">Meet ups in your local area</h2>
      <br />
      <h2 class="letters">Resources to help you raise your little CP's</h2>
      <% if user_signed_in? %>
        <br />
        <h2 class="letters">Feel free to explore!</h2>
        <br /><br />
      <% else %>
        <br />
        <%= link_to 'Join our community', new_user_registration_path , class: 'btn btn-success' %>
        <br /><br />
      <% end %>
    </div>
</div>

<br />
<div class="row">
  <div class="col-12 col-sm">
    <h3 class="letters">Amazing Community</h3>
    <br />
    <p>Find the help you need to raise your little carnivores. Wether you are just starting out or are a pro you are sure to find something helpful here.</p>
  </div>

  <div class="col-12 col-sm feature">
    <h3 class="letters">Find local stores</h3>
    <br />
    <p>It's always hard to find local places that sell carnivorous plants. It is always best if you can inspect the product yourself before purchasing. Our community is making an ever growing database of local Texas stores to help direct you to the closets nursery near you.</p>
  </div>

  <div class="col-12 col-sm">
    <h3 class="letters">Growing tips blog</h3>
    <br />
    <p>Being in Texas you know it is hotter here than most places. Our blog is full f tips to help deal with the heat and keep your little carnivores not only alive but thriving. </p>
  </div>
</div>
