<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Record it</h1>
    <br />
    <h2>Plot it</h2>
    <br />
    <h2>Learn from it</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing Results</h3>
    <br />
    <p>Choose anything you want to record, input your data everyday and see what your life, habbits or reactions look like over the long run.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Record only what you want to</h3>
    <br />
    <p>Big Brother isn't watching your every move here. So you have complete control over what you record and what anyone sees.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <p>Be a part of something bigger. Feel free to submit your data (All personally identifiable information will be scrubbed) to see what your habbits are compared to the rest of the world. Together we can use this data to improve our lives, become better people and solve real world problems. </p>
  </div>
</div>
