<br />

<div class="booyah-box col-10 offset-1 text-center">
  <h1>Privacy Policy</h1>

  <p>
    Your personally identifiable information is protected to the best of my abilities. If you choose to join the community then we will share all non-personally identifiable information with the rest of the human race in our efforts to improve the lifestyles and growing habbits of human kind.
  </p>
</div>
