<%= will_paginate @shops %>
<% @shops.each do |shop| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= shop.name %></h1><br />
    <i><%= shop.address %></i><br /><br />
    <p><%= shop.description %></p><br />
  </div>

  <hr />
<% end %>
